body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.centerPage {
  padding-right: 0px;
  padding-left: 0px;
}

.leftPageImage {
  padding-right: 0px;
}

.rightPageImage {
  padding-left: 0px;
}

.ratClick {
  content: url('/images/button_rat_off.png')
}

.humanClick {
  content: url('/images/button_human_off.png')
}

.ratClick:hover {
  content: url('/images/button_rat_on.png')
}

.humanClick:hover {
  content: url('/images/button_human_on.png')
}

.text-centered-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}